@import 'settings'
@import 'list'
@import 'form'

html
  font-family: $roboto

body
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%) fixed

.fancy-button
  background-color: white
  color: transparent
  cursor: pointer
  background-color: white
  border: 0
  .material-icons
    transition: .5s
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%)
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  &.alert .material-icons
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%)
  &.confirm .material-icons
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%)

.todo-list
  display: block
  background-color: white
  border-radius: 1rem
  box-shadow: 15px 15px 25px -10px rgba(0,0,0,.5)
  margin: 10vh auto 0
  width: 50vw
  padding-top: .5rem
